<p style="line-height: 160%;"><span style="color: orange;"><i class=" fi-home"></i></span>
    6725, Szeged, Kálvária sgt. 57.<br />
    <a href="tel:+3662545187"><span style="color: orange;"><i class=" fi-telephone"></i></span>
        +36 62 545 187</a><br />
    <span style="color: orange;"><i class=" fi-page"></i></span>
    +36 62 545 185</a><br />
    <font color="#8aacb8">e-mail:</font> <a href="mailto:czako.laszlo@med.u-szeged.hu"><u>czako.laszlo@med.u-szeged.hu</u></a><br />
    <font color="#8aacb8">website:</font> <a href="http://www.med.u-szeged.hu/"><u>www.szote.u-szeged.hu/in1st/</u></a>
</p>