<h4 class="text-center" style=" margin-top: 1rem;">{{title}}</h4>
<div class="grid-x grid-padding-x" style="margin-top: -1em;">
    <div class="cell auto"></div>
    <div class="cell large-5">
        &emsp;
        <div class="callout">
            <h5 class="text-center h6"><strong>
                    {{subtitle1}}
                </strong><br />
            </h5>
            <p style="line-height: 160%;"><span style="color: orange;"><i class=" fi-home"></i></span>
                {{address}}<br />
                <a href="tel:+3662545187"><span style="color: orange;"><i class=" fi-telephone"></i></span>
                    {{tel}}</a><br />
                <span style="color: orange;"><i class=" fi-page"></i></span>
                {{fax}}</a><br />
                <font color="#8aacb8">e-mail:</font> <a href="mailto:{{mail}}"><u>{{mail}}</u></a><br />
                <font color="#8aacb8">web:</font> <a href="{{web}}"><u>{{web}}</u></a>
            </p>
        </div>
    </div>
    <div class="cell large-3">
        &emsp;
        <div class="callout">
            <h5 class="text-center h6"><strong>{{subtitle2}}</strong></h5>
            <p>
                <a href="tel:+3662545187"><span style="color: orange;"><i class=" fi-telephone"></i></span>
                    {{telpractice1}}</a><br />
                <a href="tel:+3662545187"><span style="color: orange;"><i class=" fi-telephone"></i></span>
                    {{telpractice2}}</a>
            </p>
        </div>
    </div>
    <div class="cell auto"></div>
</div>