{{> switcher}}
<header class="portfolio-hero-header">
    {{#ifpage 'index'}}
    <span class="slide-down">
        {{/ifpage}}
        <p class="text-center"><img class="portfolio-hero-header-logo" src="{{root}}assets/img/dr-czakó-lászló.jpg" />
        </p>
        {{#ifequal lan 'hu'}}
        <h1 class="h3">Dr. med. habil. Czakó László, Ph.D.</h1>
        {{/ifequal}}
        {{#ifpage 'index'}}
    </span>
    {{/ifpage}}
    {{#ifequal lan 'en'}}
    <h1 class="h3">László Czakó, MD, MSc, PhD, DSc</h1>
    {{/ifequal}}
    {{#ifequal lan 'hu'}}
    <h5 style="margin-bottom: 1em;">gasztroenterológus, diabetológus</h5>
    {{/ifequal}}
    {{#ifequal lan 'en'}}
    <h5 style="margin-bottom: 1em;">gastroenterologyst, diabetologist</h5>
    {{/ifequal}}
    {{#ifequal lan 'hu'}}
    <ul class="menu">
        {{#each global.pages}}
        <li {{#ifpage page-hu }} class="is-active" {{/ifpage}}><a class="secondary" href=" {{root}} {{page-hu}}">{{title-hu}}</a></li>
        {{/each}}
    </ul>
    {{/ifequal}}
    {{#ifequal lan 'en'}}
    <ul class="menu">
        {{#each global.pages}}
        <li {{#ifpage page-en }} class="is-active" {{/ifpage}}><a class="secondary" href=" {{root}} {{page-en}}">{{title-en}}</a></li>
        {{/each}}
    </ul>
    {{/ifequal}}
</header>