{{#markdown}}

|   |   |
|---|---|
|**Name:**|László Czakó, MD, MSc, PhD, DSc||
|**Place and date of birth:**|Szeged, Hungary, 5<sup>th</sup> of January, 1966||
|**Permanent address:**|Fakopáncs u. 5, Szeged, H-6726, Hungary<br>Tel: (36)-62-450-738, (36)-20-3315-645||
|**Office address:**|Department of Medicine, Center of Gastroenterology<br>University of Szeged<br>Szeged, P.O.Box:427, H-6701, Hungary<br>Tel: (36)-62-545-187<br>Fax: (36)-62-545-185<br>e-mail: czako.laszlo@med.u-szeged.hu||

<br>

**Education**

|   |   |
|---|---|
| 1980–1984: | Secondary Grammar School, Szolnok, Hungary |
| 1984–1990: | Albert Szent-Györgyi Medical University, Szeged, Hungary |
| 1990: | MD degree (score: excellent, “summa cum laude”) |
| 1995: | Specialist of Internal Medicine (score: excellent) |
| 1998: | Specialist of Endoscopy, Gastroenterology, Hepatology (score: excellent) |
| 1999: | PhD degree in pancreatology (score: excellent, “summa cum laude”) |
| 1996–1999: | MSc degree – health economist, Attila József University, Szeged, Hungary |
| 2005: | Habilitation (med. habil.), University of Szeged |
| 2006: | Specialist of Diabetes Mellitus |
| 2014: | License in endoscopic ultrasound |
| 2014: | License in diabetology |
| 2014: | DSc degree |

<br>

**Position held**

|   |   |
|---|---|
| 1987–1990: | Part-time researcher, part-time lecturer, Dept. of Pathophysiology, Albert Szent-Györgyi Med. Univ. |
| 1990–1995: | Research Associate, Internist, First Dept. of Medicine, Albert Szent-Györgyi Med. Univ. |
| 1995–2002: | Assistant Professor, First Dept. of Medicine, University of Szeged |
| 2003–2009: | First Assistant Professor, First Dept. of Medicine, University of Szeged |
| 2009–2014: | Associate Professor, First Dept. of Medicine, University of Szeged |
| 2014 – present: | Professor, Department of Medicine, University of Szeged |

<br>

**Scholarships, fellowships, study trips**

|   |   |
|---|---|
| 1986–1990: | Scholarship of Hungarian Republic |
| 1989.08–09: | Dept. of Gastroenterology, Ramon Y Cajal Hospital, Madrid, Spain |
| 1990–1993: | Scholarship of Hungarian Academy of Sciences |
| 1994\. 02–03: | Dept. of Gastroenterology, Academic Medical Center, University of Amsterdam, The Netherlands |
| 1994\. 05. 01. – 12. 28.: | Postdoctoral fellowship from the Matsumae Foundation, Third Dept. of Internal Medicine, University of Occupational and Environmental Health, Japan, School of Medicine |
| 1999\. 03 – 06: | Postdoctoral fellowship from the Japanese Council for Medical Training, Dept. of Gastroenterology and Endoscopy, Toranomon Hospital, Tokyo, Japan |
| 2000–2003: | Bólyai János Scholarship from the Hungarian Academy of Sciences |
| 2000–2003: | Postdoctoral fellowship from the Hungarian Scientific Research Found |
| 2003–2006: | Békésy György Scholarship from the Hungarian Academy of Sciences |
| 2010\. 06. 16–23.: | Department of Surgery, Karolinska Institutet at Karolinska University Hospital, Stockholm, Sweden |
| 2010\. 10. 23. – 11. 07.: | Endoscòpia Digestiva Sv. Gastroenterologia. ICMDM Hospital Clínic, Barcelona, Spain |
| 2012\. 02. 01. – 02. 14.: | Department of Internal Medicine III, Division of Gastroenterology and Hepatology, Medical University of Vienna, Bécs, Ausztria |
| 2012\. 05. 06. – 05. 10.: | Klinik und Poliklinik für Interdisziplinäre Endoskopie Universitätsklinikum Hamburg-Eppendorf, Hamburg, Németország |
| 2012\. 10. 22. – 10. 28.: | Department of Gastroenterology and Hepatology, Academic Medical Center, University of Amsterdam, Amsterdam, Netherlands |

<br>

**Fields of interest:**

|   |
|---|
| Pancreatobiliary diseases (differential diagnosis, staging, treatment) including pancreatitis, pancreatic cancer, cholangiocarcinoma |
| Advanced interventional endoscopic techniques including endoscopic ultrasonography, endoscopic retrograde cholangiopancreatography, polypectomy, endoscopic mucosal resection, the early diagnosis of (pre)malignant disease. |
| Prevention, screening, surveillance strategies in gastrointestinal cancer. Pancreatic diabetes mellitus |

<br>

**Major Awards**

|   |   |
|---|---|
| 1994: | “Research Award” (European Association for Gastroenterology and Endoscopy) |
| 1995: | “Medicom Glaxo Award” (award of the Hungarian Society of Gastroenterology) |
| 1998: | Young Investigator’s Award (award of the International Association of Pancreatology) |
| 1998, 2002: | Award of the World Gastroenterology Organization |
| 1999: | “The most valuable gastroenterological publication of the year” (award of the Hungarian Society of Gastroenterology) |
| 2000: | “The most valuable gastroenterological publication of the year” (award of the Hungarian Society of Gastroenterology) |
| 2001: | “Magyar Imre” Award (award of the Hungarian Society of Gastroenterology) |
| 2004: | ”Bólyai János” Award (award of the Hungarian Academy of Sciences) |
| 2005: | “The most valuable gastroenterological publication of the year” (award of the Hungarian Society of Gastroenterology) |
| 2006: | „Markusovszky Lajos” award (Orvosi Hetilap) |
| 2008: | „LAM award” (Lege Artis Medicinae) |
| 2009: | “The most valuable gastroenterological publication of the year” (award of the Hungarian Society of Gastroenterology) |
| 2015: | „Markusovszky Lajos” award (Orvosi Hetilap) |
| 2016: | „Pro optimo merito in pancreatico-oncologia” award |
| 2019: | „Pro optimo merito in gastroenterologia” award |
| 2021: | „Géza Hetényi” award (award of the Hungarian Society of Gastroenterology) |
| 2023: | Diploma of merit – National Scientific Student Circle |

<br>

**Memberships:**

|   |
|---|
| Hungarian Society of Gastroenterology (governing board member: 2010–) |
| Hungarian Society of Pancreatology (chairman: 2018–2021) |
| Hungarian Society of Endoscopy (governing board member: 2016–, chairman: 2021–2023) |
| Hungarian Endosonography Club (chairman: 2012–2015, governing board member 2016–) |
| International Association of Pancreatology |
| European Pancreatic Club (council member: 2018–2021) |
| American Pancreatic Association |
| European Group of Endoscopic Utrasonography (governing board member: 2012–) |
| European Society of Digestive Oncology |
| European Society of Gastrointestinal Endoscopy |
| Hungarian Society of Internal Medicine (governing board member: 2022 –) |
| Hungarian Society of Diabetes |
| Hungarian Society of Hypertension |
| Hungarian Society of Clinical Nutrition |
| Public Corporation of the Hungarian Academy of Sciences |
| Hungarian Union of Medical Societies (governing board member: 2018 –, vice chairman: 2020 –) |

<br>

**Editor for:**

|   |
|---|
| Journal of Gastroenterology (2010–2012) |
| Word Journal of Gastroenterology (2009–2011) |
| World Journal of Gastrointestinal Pharmacology and Therapeutics (2010–2019) |
| Frontiers in in Physiology – Gastrointestinal Sciences (2010–2015) Associate Editor (2021–) |
| World Journal of Gastrointestinal Pathophysiology (2011–2019) |
| Gastroenterology and Hepatology (2011–2015) |
| Journal of Gastroenterology and Hepatology Research (2011–2014) (Associate Editors-In-Chief) |
| International Scholarly Research Network Inflammation (2011–2014) |
| Journal of Hypo & Hyperglycemia (2012 –) |
| Global Journal of Gastroenterology & Hepatology (2013 –) |
| World Journal of Methodology (2013 –) |
| Gastroenterological and Intestinal System (2013 –) |
| World Journal of Gastrointestinal Endoscopy (2013 –) |
| Journal of Gastroenterology, Pancreatology & Liver Disorders (2013 –) |
| Pancreas – Open Journal (Associate Editor 2015 –) |
| International J. of Gastroenterology Disorders & Therapy (2015 –) |
| Gastroenterology & Hepatology International Journal (2017 –) |
| Magyar Belorvosi Archívum (2017 –) |
| European Journal of Internal Medicine (2020 –) |
| Journal of Clinical Medicine (2023 –) |

<br>

**Languages:**

|   |
|---|
| Native language: Hungarian |
| English |
| German |
| Russian |

**Scientometric data:**

|   |   |
|---|---|
| Number of full papers in international journals: | 203 |
| Cumulative impact factor of these papers: | 481.7 |
| Total number of independent citations: | 4483 |
| Book chapters: | 18  |
| Hirsch index: | 35  |

<br>

**Organization of congresses**

|   |
|---|
| 23 (9 as main organizer) |

<br>

**Research grants as principal investigator**

|   |   |
|---|---|
| 1990–1993: | Hungarian Academy of Sciences, The role of small intestine in the intestinal phase of pancreatic secretion |
| 2000–2003: | Hungarian Scientific Research Fund, New diagnostic tools in the morphological and functional examination of chronic pancreatitis (D 34004). |
| 2000–2003: | Hungarian Academy of Sciences, Experimental and clinical examination of acute pancreatitis (BO/00482/00) |
| 2003–2006: | Hungarian Medical Research Council, The early diagnosis and endoscopic treatment of gastrointestinal cancers (027/2003) |
| 2003–2006: | Hungarian Academy of Sciences, Enteral treatment in acute pancreatitis (BÖ 5/2003) |
| 2005–2008: | Hungarian Scientific Research Fund, The pathomechanism and therapy of acute pancreatitis (T049134) |
| 2006–2009: | Hungarian Medical Research Council, Diagnosis of colorectal cancers: chromoendoscopy and HNPCC (499/2006) |
| 2007: | Gedeon Richter Plc.: The early diagnosis and endoscopic treatment of gastrointestinal cancers. |
| 2012–2015: | Hungarian Scientific Research Fund, Pathomechanism of SPINK1 promoter variants in chronic pancreatitis (K 101521) |
| 2018–2021: | Early diagnosis of pancreatic cancer by metabolite biomarkers in new-onset diabetes mellitus. (K 128222) |
{{/markdown}}