| **Név:** | Prof. Dr. Czakó László |
| --- | --- |
| **Születési hely és idő:** | Szeged, 1966. január 5. |
| **Levelezési cím:** | Szeged, Fakopáncs u. 5., 6726, |
| **Tel:** | 20-3315-645. |
| **Munkahelyi címe:** | Szegedi Tudományegyetem, Általános Orvostudományi Kar, <br>Szent-Györgyi Albert Klinikai Központ <br>Belgyógyászati Klinika, <br>6725 Szeged, Kálvária sgt. 57. sz. <br>Tel: 62-545-187 <br>Fax: 62-545-185 |
| **e-mail:** | [czako.laszlo@med.u-szeged.hu](mailto:czako.laszlo@med.u-szeged.hu) |
# Iskolai végzettsége
| 1980-1984: | Varga Katalin Gimnázium, Szolnok |
| --- | --- |
| 1984-1990: | Szent-Györgyi Albert Orvostudományi Egyetem, Általános Orvosi Kar orvosi diploma – „summa cum laude”, sz. 18/1990<br><br>3 éven át Népköztársasági/Köztársasági Ösztöndíjas |
| 1996-1999: | József Attila Tudományegyetem, Állam- és Jogtudományi Kar, Egészségügyi közgazdasági és menedzser szak - Egészségügyi közgazdasági és menedzser szakokleveles orvos, sz. 69/1999 |
# Képesítések
| 1995: | Országos Szakképesítő Bizottság - belgyógyászat szakvizsga, sz. 1531/1995 |
| --- | --- |
| 1998: | Országos Szakképesítő Bizottság - gasztroenterológiai szakvizsga, sz. 1297/1998 |
| 2006: | Országos Szakképesítő Bizottság – diabetológia minősített orvosa, sz. 349/2006 |
| 2014: | Nemzeti Vizsgabizottság – endoszkópos ultrahang licenc, sz. 104/2014 |
| 2014: | Nemzeti Vizsgabizottság – diabetológia licenc, sz. 37/2014 |
# Szakmai pályafutás
| 1987-1990: | díjas demonstrátor a SZOTE Kórélettani Intézetében |
| --- | --- |
| 1990-1995: | tudományos munkatárs, egyetemi gyakornok a SZOTE I. sz. Belgyógyásztati Klinikán |
| 1995-2002: | egyetemi tanársegéd, SZTE, I. sz. Belgyógyásztati Klinika |
| 2003-2009: | egyetemi adjunktus, SZTE, I. sz. Belgyógyásztati Klinika |
| 2009-2014: | egyetemi docens, SZTE, I. sz. Belgyógyásztati Klinika |
| 2014-jelenleg: | egyetemi tanár, SZTE, Belgyógyásztati Klinika |
# Tudományos előmenetel
| 1999: | Szent-Györgyi Albert Orvostudományi Egyetem – PhD tudományos fokozat Értekezés címe: Az exokrin és endokrin pancreasfunkció változása az akut pancreatitis során patkányban, sz. 1/1999 |
| --- | --- |
| 2005: | habilitáció (med. habil.), Szegedi Tudományegyetem: sz. 15/2005 2014: DSc fokozat sz. 5287 |
# Ösztöndíjak, külföldi tanulmányutak
| 1986-1990: | Magyar Népköztársaság ösztöndíjasa |
| --- | --- |
| 1989.08.-1989.09.: | Ramon Y Cajal Kórház, Gasztroenterológia Osztály, Madrid, Spanyolország 1990-1993: A Magyar Tudományos Akadémia ösztöndíjasa |
| 1994.02.-1994.03.: | Posztgraduális gasztroenterológiai továbbképzés, Amsterdam, Hollandia 1994.05.-1994.12.: A Matsumae Foundation tudományos ösztöndíjasa az University of Occupational and Environmental Health, Japan, School of Medicine egyetemen, Kitakyushu, Japán |
| 1997: | Gasztroenterológiai ösztöndíj, Göteborg, Svédország (Astra Pharmaceuticals) |
| 1999.03.-1999.06.: | A Japanese Council for Medical Training posztdoktori ösztöndíjasa a Toranomon Kórház Gasztroenterológiai Osztályán, Tokyo, Japán 2000-2003: A Magyar Tudományos Akadémia Bólyai János ösztöndíjasa |
| 2000-2003: | Országos Tudományos Kutatási Alap posztdoktori ösztöndíjasa |
| 2002 | Gasztroenterológiai ösztöndíj (Solvay Pharma Kft.) |
| 2003-2006: | A Magyar Tudományos Akadémia Békésy György ösztöndíjasa |
| 2010.06.16-23: | Department of Surgery, Karolinska Institutet at Karolinska University Hospital, Stockholm, Svédország |
| 2010.10.23-11.07: | Endoscòpia Digestiva Sv. Gastroenterologia. ICMDM Hospital Clínic, Barcelona, Spanyolország |
| 2012.02.01-02.14: | Department of Internal Medicine III, Division of Gastroenterology and Hepatology, Medical University of Vienna, Bécs, Ausztria |
| 2012.05.06-05.10: | Klinik und Poliklinik für Interdisziplinäre Endoskopie Universitätsklinikum Hamburg-Eppendorf, Hamburg, Németország |
| 2012.10.22-10.28: | Department of Gastroenterology and Hepatology, Academic Medical Center, University of Amsterdam, Amsterdam, Netherlands |
# Tudományos érdeklődés
| Experimentális vizsgálatok és klinikai megfigyelések akut és krónikus pancreatitisben (pathomechanizmus, újabb terápiás lehetőségek) |
| --- |
| Pancreatobiliáris betegségek (pancreatitis, pancreas és epeúti tumorok) differenciál diagnózisa, staging, terápia |
| Korszerű diagnosztikus és terápiás endoszkópia: endoszkópos ultrahang, endoszkópos retrográd kolangiopancreatográfia, cholangioscopia, polypectomia, endoszkópos mucosa reszekció, endoszkópos submucosa disszekció, (pre)malignus betegségek korai diagnózisa |
| Gasztrointesztinális daganatok megelőzése, szűrése, utánkövetése. |
| Pancreatogén diabetes mellitus |
# Tudományos díjak
| 1994: | „Research Award” (European Association for Gastroenterology and Endoscopy) |
| --- | --- |
| 1995: | Medicom Glaxo díj (Magyar Gasztroenterológiai Társaság) |
| 1998: | „Young Investigator’s Award” (International Association of Pancreatology) 1998, 2002: Award of the World Gastroenterology Organization |
| 1999: | „Az év legjobb gasztroenterológiai tárgyú angol nyelven megjelent közleménye” (Magyar Gasztroenterológiai Társaság) |
| 2000: | „Az év legjobb gasztroenterológiai tárgyú magyar nyelven megjelent közleménye” (Magyar Gasztroenterológiai Társaság) |
| 2001: | „Magyar Imre” díj (Magyar Gasztroenterológiai Társaság) 2004: Bólyai János Emléklap |
| 2005: | „Az év legjobb gasztroenterológiai tárgyú angol nyelven megjelent közleménye” (Magyar Gasztroenterológiai Társaság) |
| 2006: | „Markusovszky Lajos” díj (Orvosi Hetilap) 2008: „LAM díj” (Lege Artis Medicinae) |
| 2009: | „Az év legjobb gasztroenterológiai tárgyú magyar nyelven megjelent közleménye” (Magyar Gasztroenterológiai Társaság) |
| 2015: | „Markusovszky Lajos” díj (Orvosi Hetilap) |
| 2016: | „Pro optimo merito in pancreatico-oncologia” díj |
| 2019: | „Pro optimo merito in gastroenterologia” díj |
| 2021: | Hetényi Géza díj |
| 2023: | OTDK Elismerő Oklevél |
| 2023. | évi Kar Kiváló Tudományos Diákköri Oktatója |
# Társasági tagság, funkciók
| **Társaság neve** | **Mettől-meddig** |
| --- | --- |
| Magyar Gasztroenterológiai Társaság (MGT) | 2010- vezetőségi tag |
| MGT Endoszkópos Ultrahang Szekció | 2012-2015 elnök, 2016- vezetőségi tag |
| MGT Pancreas Szekció | 1991- tag, 2018- 2021 elnök |
| MGT Endoszkópos Szekció | 1992- tag, 2016- vezetőségi tag, 2021 elnök |
| MGT Praxis Management és Finanszírozási Munkacsoport | 2006- tag |
| European Group for Endoscopic Ultrasonography | 2012- vezetőségi tag |
| European Society of Digestive Oncology | 2012- tag |
| European Society of Gastrointestinal Endoscopy | 2012- tag |
| European Pancreatic Club | 1992- tag,<br><br>2018-2021 vezetőségi tag |
| International Association of Pancreatology | 2008- tag |
| American Pancreatic Association | 2008- tag |
| Magyar Belgyógyász Társaság | 2022- elnökségi tag |
| Magyar Diabetes Társaság | 2004- tag |
| Magyar Hypertonia Társaság | 2004- tag |
| Magyar Mesterséges Táplálási Társaság | 2013- tag |
| MTA köztestületi tagja | 2011- |
| Magyar Orvosi Kamara országos küldött | 2015- |
| Magyar Orvosi Kamara | |
| Csongrád Megyei Területi Szervezete alelnöke | 2015- |
| Szegedi Tudományegyetem, Elméleti Doktori Iskola, Gasztroenterológiai Alprogram vezetője | 2018- |
| MOTESZ | 2018- elnökségi tag,<br><br>2020- alelök |
| Szegedi Tudományegyetem EUH vizsgálatok grémiumának elnöke | 2012- |
| Szegedi Tudományegyetem, Elméleti Orvostudományi Habilitációs Szakbizottság tagja | 2021- |
| Szegedi Tudományegyetem, Elméleti Orvostudományi Program, Gasztroenterológiai Alprogram vezetője | 2018- |
| Szegedi Tudományegyetem, Mérnöki Kar, Táplálkozástudományi mesterképzés szakfelelőse | 2023- |
**Editor:**
| Journal of Gastroenterology (2010-) World Journal of Gastroenterology (2009-) |
| --- |
| World Journal of Gastrointestinal Pharmacology and Therapeutics (2010-2019) |
| Frontiers in in Physiology - Gastrointestinal Sciences (2010-2015) Associate Editor (2021-) |
| World Journal of Gastrointestinal Pathophysiology (2011-2019) |
| Gastroenterology and Hepatology (2011-2015) |
| Journal of Gastroenterology and Hepatology Research (2011-2014) (Associate Editors-In-Chief) |
| Journal of Hypo & Hyperglycemia (2012-) World Journal of Methodology (2013-) |
| World Journal of Gastrointestinal Endoscopy (2013-) |
| Journal of Gastroenterology, Pancreatology & Liver Disorders (2013-) International Journal of Gastroenterology Disorders & Therapy (2015- Pancreas – Open Journal (2015-) |
| Gastroenterology & Hepatology International Journal (2017- ) Magyar Belorvosi Archívum (2017-) |
| European Journal of Internal Medicine (2020- ) Journal of Clinical Medicine (2023- ) |
**Nyelvismeret:**
| angol (középfokú állami nyelvvizsga, 1989) |
| --- |
| német (alapfokú állami nyelvvizsga, 1991) |
# Scientometriás adatok
| teljes közlemények száma: | 203 |
| --- | --- |
| könyvfejezet: | 18 |
| idézettség: | |
| összes: | 5794 |
| önidézetek nélkül: | 4483 |
| legtöbbet idézett cikk: | 342 |
| Hirsch index: | 35 |
# Hazai és nemzetközi kongresszusok szervezése
41<sup>st</sup> Meeting of the European Pancreatic Club, Szeged, 2009. július 1-3. Basic and Clinical Science Symposium, Szeged, 2009. július 4.
<table>
    <tbody>
        <tr>
            <th>
                <p>Gasztroenterológiai Továbbképző Nap, Szeged, 2009. július 5.</p>
            </th>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Endoszkópos Ultrahangos Tréning, Szeged, 2011. május 11.</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Endoszkópos Ultrahangos Tréning, Szeged, 2012. április 19.</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Endoszkópos Ultrahangos Tréning, Szeged, 2013. október 12.</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <p>MGT Endoszkópos Szekció 2013. évi Vándorgyűlése, Szeged, 2013. szeptember 13-14. 5<sup>th</sup> European EGEUS Congress, Isztambul, 2013. november 21-22.</p>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Endoszkópos Ultrahangos Tréning, Szeged, 2014. május 15.</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Endoszkópos Ultrahangos Tréning, Szeged, 2015. április 23.</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <p>6<sup>th</sup> European EGEUS Congress, Edinburgh, 2015. november 11-12.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>20<sup>th</sup> International Symposium of Endoscopic Ultrasonography, Budapest, 2016. október 22- 24.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>3<sup>rd</sup> EUS-ERCP connection: the EURCP concept, Torinó, 2016. december 1-3.</p>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Endoszkópos Ultrahangos Tréning, Szeged, 2017. április 27. 7<sup>th</sup> European EGEUS Congress, Torinó, 2017. november 27-28.</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <p>4<sup>th</sup> EUS-ERCP connection: the EURCP concept, Torinó, 2018. november 15-17.</p>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Endoszkópos Ultrahangos Tréning, Szeged, 2018. május 11.</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Endoszkópos Ultrahangos Tréning, Szeged, 2019. május 16. 8<sup>th</sup> European EGEUS Congress, Moszkva, 2019. december 9-10.</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Endoszkópos Ultrahangos Tréning, Szeged, 2020. május 7.</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <p>5<sup>th</sup> EUS-ERCP connection: the EURCP concept, Torinó, 2020. november 26-28.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>How to accomplish high quality biliopancreatic endoscopy? Webinar 2021. december 9.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>9<sup>th</sup> European EGEUS Congress, Kolozsvár, 2022. június 2-3.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>6<sup>th</sup> EUS-ERCP connection: the EURCP concept, Torinó, 2022. december 15-17.</p>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Endoszkópos Ultrahangos Tréning, Szeged, 2023. április 27.</li>
                </ol>
            </td>
        </tr>
    </tbody>
</table>
# Vezetésemmel PhD doktori fokozatot szereztek
| **Dr. Szalóki Tibor**: The value of indigo carmine staining in endoscopy and endoscopic mucosal resection in the human stomach. |
| --- |
| Védés helye és időpontja: Szeged, 2008. június 17. |
| **Dr. Terzin Viktória**: Immunological and diabetological features of chronic pancreatitis. Védés helye és időpontja: Szeged, 2012. február 20. |
| **Dr. Zsóri Gábor:** Interactions between the exocrine and endocrine pancreas. Védés időpontja: Szeged, 2020. augusztus 19. |
# Pályázati tevékenység
<table>
    <tbody>
        <tr>
            <th>
                <p><strong>Témavezető tudományos pályázatokban:</strong></p>
            </th>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Pályázat kiírója: Magyar Tudományos Akadémia<br>Pályázat címe: A vékonybél szerepe a pancreas szekréció intesztinális fázisában Pályázat típusa: TMB ösztöndíj<br>Időtartama: 1990–1993 Elnyert összeg: 550 eFt</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Pályázat kiírója: OTKA<br>Pályázat címe: Secretin-MRCP: új vizsgálómódszer a krónikus pancreatitis morfológiai és funkcionális diagnózisában<br>Pályázat típusa: posztdoktori ösztöndíj, D 34004 Időtartama: 2000–2003<br>Elnyert összeg: 11.765 eFt</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Pályázat kiírója: Magyar Tudományos Akadémia<br>Pályázat címe: Az akut pancreatitis experimentális és klinikai vizsgálata Pályázat típusa: Bólyai János ösztöndíj, BO/00482/00<br>Időtartama: 2000–2003 Elnyert összeg: 3.000 eFt</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Pályázat kiírója: ETT<br>Pályázat címe: Gasztrointesztinális daganatok korai felismerése és endoscopos kezelése Pályázat típusa: tematikus, 027/2003<br>Időtartama: 2003–2006<br>Elnyert összeg: 2.000 eFt</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Pályázat kiírója: Magyar Tudományos Akadémia<br>Pályázat címe: Akut pancreatitisben alkalmazott enterális táplálás kórélettani hatásának, hatékonyságának vizsgálata<br>Pályázat típusa: Békésy György ösztöndíj BÖ 5/2003 Időtartama: 2003–2006<br>Elnyert összeg:<br>4.000 eFt</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Pályázat kiírója: OTKA<br>Pályázat címe: Az akut pancreatitis pathomechanizmusának és terápiájának a vizsgálata Pályázat típusa: tematikus, T049134<br>Időtartama: 2005–2008 Elnyert összeg: 3.000 eFt</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Pályázat kiírója: ETT<br>Pályázat címe: Colorectalis daganatok diagnózisának javítása: chromoendoscopia, a HNPCC kimutatása<br>Pályázat típusa: tematikus, 499/2006 Időtartama: 2006–2009<br>Elnyert összeg: 2.400 eFt</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Pályázat kiírója: Richter Gedeon Rt. a Magyar Egészségügyért Alapítvány<br>Pályázat címe: Gasztrointesztinális daganatok korai felismerése és endoszkópos kezelése Pályázat típusa: tematikus<br>Időtartama: 2007<br>Elnyert összeg: 1.000 eFt</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Pályázat kiírója: NKFIH<br>Pályázat címe: A SPINK1 promóter variánsok szerepe krónikus pankreatitiszben Pályázat típusa: tematikus, K 101521<br>Időtartama: 2012–2015<br>Elnyert összeg: 13.540 eFt</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Pályázat kiírója: NKFIH<br>Pályázat címe: A hasnyálmirigy carcinoma korai diagnózisa biomarkerek segítségével újonnan diagnosztizált diabetes mellitusban<br>Pályázat típusa: tematikus, K 128222 Időtartama: 2018–2022<br>Elnyert összeg: 9.920 eFt</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <h1>Nevesített résztvevő tudományos pályázatokban:</h1>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Pályázat kiírója: ETT<br>Pályázat címe: Újabb lehetőségek a pancreas betegségek diagnosztikájában és terápiájában. Kísérletes és klinikai vizsgálatok<br>Vezető kutató: Dr. Hajnal Ferenc<br>Pályázat típusa: tematikus, T-89/1990 Időtartama: 1991–1993<br>Elnyert összeg: 600 eFt</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Pályázat kiírója: ETT<br>Pályázat címe: A pancreas-, vékonybél- és epeműködés összefüggő folyamatainak idegrendszeri és humorális szabályozása. Kísérletes és klinikai vizsgálatok<br>Vezető kutató: Dr. Hajnal Ferenc<br>Pályázat típusa: tematikus, 187/94/KO Időtartama: 1994–1996<br>Elnyert összeg: 600 eFt</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Pályázat kiírója: ETT<br>Pályázat címe: Új módszerek alkalmazása az alkoholos máj- és hasnyálmirigy betegségek diagnosztikájában, valamint patogenezisük kutatásában. Klinikai és kísérletes vizsgálatok Vezető kutató: Dr. Lonovics János<br>Pályázat típusa: tematikus, 609/93 Időtartama: 1994–96<br>Elnyert összeg: 1.200 eFt</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Pályázat kiírója: ETT<br>Pályázat címe: Az enterális táplálás szerepe a pancreas gyulladásos betegségeinek kezelésében Vezető kutató: Dr. Takács Tamás<br>Pályázat típusa: tematikus 6100/2000 Időtartama: 2000–2002<br>Elnyert összeg: 1.800 eFt</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>
                <p>Pályázat kiírója: OTKA<br>Pályázat címe: A citokin rendszer és a szabadgyökök szerepe az akut pancreatitis patogenezisében: experimentális és klinikai vizsgálatok<br>Vezető kutató: Dr. Takács Tamás Pályázat típusa: tematikus, T 029697 Időtartama: 1999–2001</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Elnyert összeg: 4.000 eFt</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Pályázat kiírója: OTKA<br>Pályázat címe: A gátló működés útjainak- és mechanizmusainak vizsgálata a pankreász vezeték sejtekben<br>Vezető kutató: Dr. Lonovics János Pályázat típusa: tematikus, T 043066 Időtartama: 2003–2006<br>Elnyert összeg: 6.000 eFt</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Pályázat kiírója: OTKA<br>Pályázat címe: Intracelluláris védekező mechanizmusok akut pancreatitisben: Kísérletes és klinikai vizsgálatok<br>Vezető kutató: Dr. Takács Tamás Pályázat típusa: tematikus, T 042589 Időtartama: 2003–2006<br>Elnyert összeg: 6.000 eFt</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Pályázat kiírója: OTKA<br>Pályázat címe: Terápiás célpontok acut pancreatitisben: Kísérletes és klinikai vizsgálatok Vezető kutató: Dr. Takács Tamás<br>Pályázat típusa: tematikus, T060406 Időtartama: 2006–2009<br>Elnyert összeg: 11.700 eFt</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Pályázat kiírója: NKTH<br>Pályázat címe: Neurodegeneratív betegségek, anxietás és depresszió patomechanizmusa és terápiás lehetőségei<br>Vezető kutató: Dr. Penke Botond<br>Pályázat típusa: TÁMOP-4.2.2-08/1/2008-0002 Időtartama: 2009–2011<br>Elnyert összeg: 325.500 eFt</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Pályázat kiírója: NKFIH<br>Pályázat címe: A hasnyálmirigy carcinoma korai diagnózisa biomarkerek segítségével újonnan diagnosztizált diabetes mellitusban<br>Vezető kutató: Dr. Czakó László Pályázat típusa: 131864<br>Időtartama: 2018–2022 Elnyert összeg: 9.920 eFt</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Pályázat kiírója: NKFIH<br>Pályázat címe: GOULASH-PLUS: a krónikus pancreatitis korai fázisának diagnózisához szükséges biomarkerek vizsgálata<br>Vezető kutató: Mikó Alexandra Pályázat típusa: 131864<br>Időtartama: 2019–2023<br>Elnyert összeg: 39.996 eFt</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Pályázat kiírója: NKFIH<br>Pályázat címe: A megnövekedett nyomás által kiváltott pankreász károsodás vizsgálata - transzlációs vizsgálat a patomechanizmustól a klinikai terápiáig<br>Vezető kutató: Dr. Hegyi Péter Pályázat típusa: 131864<br>Időtartama: 2019–2023<br>Elnyert összeg: 47.224 eFt</p>
            </td>
        </tr>
    </tbody>
</table>