{{#markdown}}
|**Name:**|László Czakó, MD, MSc, PhD, DSc||
| :- | :- | :- |
|**Place and date of birth:**|Szeged, Hungary, 5<sup>th</sup> of January, 1966||
|**Permanent address:**|Fakopáncs u. 5, Szeged, H-6726, Hungary<br>Tel: (36)-62-450-738, (36)-20-3315-645||
|**Office address:**|Department of Medicine, Center of Gastroenterology<br>University of Szeged<br>Szeged, P.O.Box:427, H-6701, Hungary<br>Tel: (36)-62-545-187<br>Fax: (36)-62-545-185<br>e-mail: czako.laszlo@med.u-szeged.hu||
|**Education:**|||
|1980–1984:|Secondary Grammar School, Szolnok, Hungary||
|1984–1990:|Albert Szent-Györgyi Medical University, Szeged, Hungary 1990:<br>MD degree (score: excellent, “summa cum laude”)||
|1995:|Specialist of Internal Medicine (score: excellent)||
|1998:|Specialist of Endoscopy, Gastroenterology, Hepatology (score: excellent)||
|1999:|PhD degree in pancreatology (score: excellent, “summa cum laude”) 1996–1999:<br>MSc degree – health economist, Attila József University, Szeged, Hungary||
|2005:|Habilitation (med. habil.), University of Szeged 2006:<br>Specialist of Diabetes Mellitus||
|2014:|License in endoscopic ultrasound 2014:<br>License in diabetology||
|2014:|DSc degree||
|2012–2015:|Hungarian Scientific Research Fund, Pathomechanism of SPINK1 promoter variants in chronic pancreatitis (K 101521)||
|2018–2021:|Early diagnosis of pancreatic cancer by metabolite biomarkers in new-onset diabetes mellitus. (K 128222)||
{{/markdown}}