{{#ifpage 'index'}}
<div class="menu  align-right" style="margin-bottom: -3rem;">
    <li class=" is-active"><a href="{{root}}index.html">Hu</a></li>
    <li><a href="{{root}}contact.html">En</a></li>
</div>
{{/ifpage}}
{{#ifpage 'oneletrajz'}}
<div class="menu align-right" style="margin-bottom: -3rem;">
    <li class="is-active"><a href="{{root}}oneletrajz.html">Hu</a></li>
    <li><a href="{{root}}curriculum.html">En</a></li>
</div>
{{/ifpage}}
{{#ifpage 'publikaciok'}}
<div class="menu align-right" style="margin-bottom: -3rem;">
    <li class="is-active"><a href="{{root}}publikaciok.html">Hu</a></li>
    <li><a href="{{root}}publications.html">En</a></li>
</div>
{{/ifpage}}
{{#ifpage 'fotok'}}
<div class="menu align-right" style="margin-bottom: -3rem;">
    <li class="is-active"><a href="{{root}}fotok.html">Hu</a></li>
    <li><a href="{{root}}gallery.html">En</a></li>
</div>
{{/ifpage}}
<!-- angol -->
{{#ifpage 'contact'}}
<div class="menu align-right" style="margin-bottom: -3rem;">
    <li> <a href="{{root}}index.html">Hu</a></li>
    <li class="is-active"><a href="{{root}}contact.html">En</a></li>
</div>
{{/ifpage}}
{{#ifpage 'curriculum'}}
<div class="menu align-right" style="margin-bottom: -3rem;">
    <li><a href="{{root}}oneletrajz.html">Hu</a></li>
    <li class="is-active"><a href="{{root}}curriculum.html">En</a></li>
</div>
{{/ifpage}}
{{#ifpage 'publications'}}
<div class="menu align-right" style="margin-bottom: -3rem;">
    <li><a href="{{root}}publikaciok.html">Hu</a></li>
    <li class="is-active"><a href="{{root}}publications.html">En</a></li>
</div>
{{/ifpage}}
{{#ifpage 'gallery'}}
<div class="menu align-right" style="margin-bottom: -3rem;">
    <li><a href="{{root}}fotok.html">Hu</a></li>
    <li class="is-active"><a href="{{root}}gallery.html">En</a></li>
</div>
{{/ifpage}}